.bad-checkbox-array {
  display: flex;
  flex-flow: column;
}

.bad-checkbox-wrapper {
  display: flex;
  margin: 8px;
  max-width: 100%;
  width: 100%;
  flex-flow: row;
  align-items: flex-start;
}

.bad-checkbox {
  margin-top: 5px;
  max-width: 100%;
  margin-right: 5px;
  transform: scale(0.75);
}

.bad-checkbox-text {
  width: 100%;
}

.bad-checkbox-option {
  color: #1d1d1d;
  margin-left: 5px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 650;
  letter-spacing: 0.5px;
  line-height: 1.3em;
}

.bad-checkbox-explanation {
  color: #2b2b2bb2;
  margin-left: 5px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 650;
  letter-spacing: 0.5px;
  line-height: 1.3em;
}